<div class="navbar-nav" style="padding:10px 0px 0px 0px ">
  <ul>
    <li class="nav-item" style="list-style:none; display:inline-block; min-width:19%; padding-left:80px;">
      <a class="nav-link px-2 text-muted" href="/">Home</a>
    </li>
    <li class="nav-item" style="list-style: none; display:inline-block;min-width:19%;padding-left:80px;" >
      <a class="nav-link px-2 text-muted" href="/login">Login</a>
    </li>
    <li class="nav-item" style="list-style: none; display:inline-block;min-width:19%;padding-left:80px;">
      <a class="nav-link px-2 text-muted" href="/register">Register</a>
    </li>
    <li class="nav-item" style="list-style: none; display:inline-block;min-width:19%;padding-left:80px;">
      <a class="nav-link px-2 text-muted" href="/booking">Book Now</a>
    </li>
    <li class="nav-item" style="list-style: none; display:inline-block;min-width:19%;padding-left:80px;">
      <a class="nav-link px-2 text-muted" href="/contact">Contact Us</a>
    </li>
  </ul>
</div>

  <hr class="m-auto" />